
.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #000000;
  border-radius: 8px;
  background-color: #43554b;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.select-container {
  display: flex;
  gap: 10px;
}

.select-container select {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  flex: 1;
}

.input-container {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.input-container input[type="number"] {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  flex: 1;
}

.result {
  margin-top: 20px;
  font-size: 18px;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.grilla_3x3 {
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(300px, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(100px, 1fr));
  gap: 70px;
}
.cartasPersonajes{
background-color:rgb(39, 69, 83);
text-align:center;
color:rgb(0, 0, 0);
border-radius: 30px;
}

.cartaEpiPersonajes{
  background-color:rgb(97, 107, 101);
  text-align:center;
  color:rgb(0, 0, 0);
  border-radius: 30px;

}